<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supermercado Boa Vida</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    {% block styles %}{% endblock %}
</head>
<body>
    <nav>
        <a href="/index">🛒 Boa Vida</a>

        {% if current_user.is_authenticated %}
            {% if current_user.is_admin %}
                <a href="/catalogo">Catálogo</a>
                <a href="/pedidos">Pedidos</a>
            {% else %}
                <a href="/loja">Loja</a>
                <a href="/carrinho">🛒 Carrinho</a>
            {% endif %}
            <a href="/logout" class="nav-logout">Sair</a>
        {% else %}
            <a href="/login">Entrar</a>
            <a href="/cadastro">Cadastrar</a>
        {% endif %}
    </nav>

    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <div class="flash">{{ msg }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block html %}{% endblock %}
    </div>
</body>
</html>